<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="figma.page.syles.css">
</head>
<body>
    <article class="content">
        <p class="head">
            Think bigger. Build faster.
        </p>
        <p class="description">
            Figma helps design and development teams build great products, together.
        </p>
        <a href="https://www.figma.com/">
            <p class="button">
            Get started for free
            </p>
        </a>

    </article>
</body>
</html>